html {
    background-color: black;
}

body {
    background-color: rebeccapurple;
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 225, 255);
}

div {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: right;
}

.mid {
    width: 200px;
    height: 200px;
    float: right;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

.pnform {
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}

.shaker {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
    animation: mover 5s infinite;
}

@keyframes mover {
    0% {left: 25px;}
    50% {left: 65px;}
    100% {left: 25px;}
}